<nav class="navbar navbar-inverse bg-dark">
  <div class="navbar-header"><span class="fa fa-newspaper-o" style="font-size:48px;color:whitesmoke"></span>&nbsp;&nbsp;&nbsp;<b>BREAKING NEWS</b></div>
  <div>
    <button class="btn btn-info navbar-btn" id="searchNews" routerLink = "/user-dashboard"><span class="fa fa-search"></span>&nbsp;Search News</button>&nbsp;
    <button class="btn btn-danger navbar-btn" id="logout" (click)="onLogout()"><span class="fa fa-sign-out"></span>&nbsp;Logout</button>
  </div>  
</nav>
<br>
<div id="searchHistoryTable" class="container" *ngIf="searchHistoryList.length>0">
  <table class="table table-hover">

    <thead>
      <th>Search Topic</th>
      <th>Search Date & Time</th>
      <th>Actions</th>
    </thead>
    
    <tr *ngFor="let search of searchHistoryList">
        <td>{{search.searchTopic}}</td>
        <td>{{search.searchTime | date :'dd/MM/yyyy HH:mm a'}}</td>
        <td><button class="btn btn-danger" (click) = "deleteSearch(search)"><span class="fa fa-trash"></span>&nbsp;Delete</button></td>
    </tr>
      
  </table>
</div>

<div style="text-align: center; font-size:48px" class="container" *ngIf="searchHistoryList.length==0">
<strong>No history found!</strong>
</div>